<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>Document</title>
</head>
<body>
    <style>
        .red {
            color: red
        }
        .green {
            color: green
        }
        .blue {
            color: blue
        }
    </style>
    <div id="app">
        {{ number }}
        <button v-on:click="countUp">カウントアップ</button>
        <button @click="countDown">カウントダウン</button>
        <div v-text="number"></div>
        <div v-if="number > 3">条件次第で表示</div>
        <ul>
            <li v-for="item in items">繰り返しで表示</li>
            <li v-for="item in items">{{ item }}</li>
        </ul>
        <div v-bind:class="color">カラー</div>
        <div :class="color">{{ custom_color }}</div>
        <input type="text" v-model="color">
    </div>
    <script>
        new Vue({
            el: "#app",
            data :{
                number: 0,
                items: [1, 2, 3],
                color: 'red',
            },
            computed: {
                custom_color: function() {
                    return this.color.toUpperCase();
                }
            },
            methods: {
                countUp: function() {
                    this.number++;
                },
                countDown: function() {
                    this.number--;
                }
            }
        })
    </script>
</body>
</html>